# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Editor files
.vscode/
.idea/
*.swp
*.swo

# Compiled files
*.css
!docs/**/*.css
!examples/**/*.css
!snippets/**/*.css

# Log files
*.log
npm-debug.log*

# Temporary files
tmp/
temp/
